.btn{
  padding: 10px 0px;  
  width: 50px;
  color: #fff;
  background: rgb(0, 102, 0);
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: background 1s ;
  color: lightslategray;
}
.btn:hover{
    background: rgb(0, 207, 0);
}